@model List<AtendimentoPaciente>


<form asp-action="Buscar" asp-controller="Paciente" method="get">
    <fieldset>
        <legend>Lista de atendimentos</legend>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Chagada</th>
                                <th>TIpo</th>
                                <th>Atendido</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (AtendimentoPaciente atendimento in Model)
                            {
                                <tr>
                                    <td>@atendimento.Nome</td>
                                    <td>@atendimento.Chegada </td>
                                    <td>@atendimento.Tipo</td>
                                    <td>@atendimento.Atendido</td>
                                    <td>
                                        <a asp-action="Remover"
                                           asp-controller="Atendimento"
                                           asp-route-id="@atendimento.ID"
                                           class="btn btn-warning">Remover</a>
                                    </td>
                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </fieldset>
</form>
