@model List<AtendimentoPaciente>

<!DOCTYPE html>

<html>
<head>
    <title>Fila de Atendimento</title>

</head>
<body>
    <h2>Fila de Atendimento</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Tipo </th>
                <th>Chegada</th>
                <th>Sintomas</th>
                <th>Hora do Atendimento</th>

            </tr>

        </thead>
        <tbody>
            @foreach (AtendimentoPaciente filadeAtendimento in Model)
            {
            <tr>
                <td>@filadeAtendimento.Nome</td>
                <td>@filadeAtendimento.Tipo</td>
                <td>@filadeAtendimento.Chegada</td>
                <td>@filadeAtendimento.Sintomas</td>
                <td>@filadeAtendimento.CriadoEm</td>
                <td><a asp-action="Cadastrar" asp-controller="Medico" asp-route-id="@filadeAtendimento.ID">Atender</a></td>

            </tr>
            }
        </tbody>
    </table>




</body>
</html>